@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@media only screen
    and (min-width: 600px) {
    html, body {

    }

    .content {
        width: 70%;
        padding-bottom: 50px;
    }

    header {
        padding: 50px;
        border-width: 20px;
    }

    main {
    }

    main section {
    }

    h1 {
        font-size: 60px;
    }

    h2 {
        margin-top: 48px;
        margin-bottom: 24px;
    }

    p {
        width: 70%;
        font-size: 16px;
        margin: 16px 0;
    }

    .header-image {
        width: 350px;
        border-width: 15px;
    }

    .header-small-text {
        width: 80%;
        padding: 20px;
    }

    nav {
        height: 60px;
    }

    .nav-item {
        min-height: 50px;
    }

    .nav-text {
        font-size: 20px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .button {
        font-size: 16px;
    }

    .project-card {
        flex-direction: row;
        border-width: 2px;
        margin: 40px;
        width: 92%;
    }

    .project-visual {
        flex-basis: 50%;
    }

    .project-header {
        font-size: 32px;
        padding: 30px;
    }

    .project-text-container {
        justify-content: end;
        flex-basis: 50%;
        padding: 15px;
    }

    .project-text {
        font-size: 18px;
        text-align: right;
    }

    .portfolio {
        border-width: 3px;
        border-radius: 15px;
        margin: 20px;
    }

    .portfolio-photo-container {
        margin: 10px;
    }

    .portfolio-photo {
        width: 220px;
    }

    .button:hover {
    }

    .button:active {
    }

    footer {
        padding-bottom: 20px;
    }

    .footer-header {
    }

    .footer-list {
    }

    .footer-list li {
    }

    .footer-list a {
    }

    .admin-actions-container {
        width: 90%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: start;
        border: 1px solid black;
        padding: 20px;
    }

    .big-image {
        width: 400px;
        height: 400px;
    }

    .existing-locations-container {
        display: flex;
        flex-flow: row wrap;
        margin: 10px;
    }

    .existing-location {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        border-radius: 99px;
        background-color: white;
        padding: 5px;
    }

    .existing-location-text {
        margin: 0;
        font-size: 12px;
    }
}