<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/base-style.css">
    <link rel="stylesheet" href="/static/desktop-style.css">
</head>
<body>
    <nav>
        <div class="nav-item">
            <a class="nav-text" href="{{ url_for('main.index') }}">Home</a>
        </div>
        <div class="nav-item">
            <a class="nav-text" href="{{ url_for('main.bio') }}">Bio</a>
        </div>
        <div class="nav-item">
            <a class="nav-text" href="{{ url_for('main.projects') }}">Projects</a>
        </div>
        <div class="nav-item">
            <a class="nav-text" href="{{ url_for('main.portfolio') }}">Portfolio</a>
        </div>
    </nav>
        {% block content %}{% endblock %}
</body>
</html>