{% extends 'base.html' %}
{% block title %}Portfolio{% endblock %}
{% block content %}
<div class="content">
    <header>
        <h1>Portfolio</h1>
        <p class="header-small-text">I would like to pursue computer science, yes, but I also
        really love photography. This page has all the photos I've taken that I'm proud enough of
        to include in my portfolio. There are a lot, so I've added options for sorting and filtering
        them. Enjoy!</p>
    </header>
    <main>
        <p style="font-weight: bold; text-decoration: underline">Okay, actually, I haven't yet implemented the interactive portfolio. So in the meantime,
        here are only a few of my photos that I really like.</p>
        <div class="portfolio">
            <div class="portfolio-photo-container">
                <img src="static/Sunrise-Jog.JPG" class="portfolio-photo">
            </div>
            <div class="portfolio-photo-container">
                <img src="static/End-Of-Another-Day.jpg" class="portfolio-photo">
            </div>
            <div class="portfolio-photo-container">
                <img src="static/The-Shining-Sky.jpg" class="portfolio-photo">
            </div>
            <div class="portfolio-photo-container">
                <img src="static/Distant-Chimes.jpg" class="portfolio-photo">
            </div>
            <div class="portfolio-photo-container">
                <img src="static/Darkvision.jpg" class="portfolio-photo">
            </div>
            <div class="portfolio-photo-container">
                <img src="static/Columns-And-Cherries.jpg" class="portfolio-photo">
            </div>
            <div class="portfolio-photo-container">
                <img src="static/Autumn-Leaves.jpeg" class="portfolio-photo">
            </div>
            <div class="portfolio-photo-container">
                <img src="static/Golden-Bed.jpeg" class="portfolio-photo">
            </div>
            <div class="portfolio-photo-container">
                <img src="static/Scorching-Stalks.jpeg" class="portfolio-photo">
            </div>
            <div class="portfolio-photo-container">
                <img src="static/Flower-City.jpeg" class="portfolio-photo">
            </div>
            <div class="portfolio-photo-container">
                <img src="static/Rolling-Hills.jpeg" class="portfolio-photo">
            </div>
            <div class="portfolio-photo-container">
                <img src="static/Luminance.jpeg" class="portfolio-photo">
            </div>
            <div class="portfolio-photo-container">
                <img src="static/Brilliance.jpg" class="portfolio-photo">
            </div>
        </div>
    </main>
</div>
{% endblock %}